body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0e0e0e;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000; /* Ensure the header stays on top of other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style for the header logo */
.header-logo {
    margin-left: 20px; /* Adjust margin as needed */
}

/* Style for the header buttons */
.header-buttons {
    margin-right: 20px; /* Adjust margin as needed */
}

/* Style for the header button links */
.header-buttons a {
    color: #CFB87C;
    text-decoration: none;
    font-size: 24px;
    font-family: fantasy;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

/* Change background color on hover */
.header-buttons a:hover {
    background-color: #555;
}