body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
}

header {
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
  
.header-logo a {
    font-size: 35px;
    text-decoration: none;
    color: #CFB87C;
}
  
.right-options a {   /*For the righthand header options*/
    margin-left: 20px;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 24px;
    font-family: fantasy, copperplate;
    color: #CFB87C;
    border-radius: 20px; /* Add rounded corners */
    transition: color 0.3s, background-color 0.3s;
}

.right-options a:hover{ /*For the logo*/
    background-color: #555;
    color: #CFB87C;
}

.landing {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.landing-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing-text {
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(133, 133, 133, 0.7);
    font-size: 24px;
    padding: 20px;
    border-radius: 10px;
    margin-top: auto; /* Push the text box towards the center */
    margin-bottom: 150px; /* Add some space between the text box and the bottom */
}